<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>System of course management</title>
  <!--stylesheet-->

  <link href="{{url_for('static' ,filename='css/styles.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static' ,filename='css/custom-responsive-styles.css')}}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{{url_for('static' ,filename='js/jquery-3.2.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/all-plugins.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/plugins-activate.js')}}"></script>
</head>

<body id="page-top">
  <!-- Header Starts -->
  <section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
      <h1>Final Project</h1>
      <h3>
          <em>System of course management</em>
        </h3>
    </div>
    <div class="overlay"></div>
  </section>

  <!-- Description Starts -->
  <section id="About" class="content-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="block-heading">
            <h2> Primary demand</h2>
          </div>
          <p class="lead">  
            Function : Create 、 Read 、 Update 、 Delete (CRUD)
          </p>
          <p class="lead"> 
            Database : at least 5 entity type and 5 relationship type
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- What We Need Starts -->
  <section id="Services" class="content-section text-center">
    <div class="container">
      <div class="block-heading">
        <h2>Function</h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon yellow">
              <div class="front-content">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h3>Insert</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Insert</h3>
              <p>insert data</p>
              <button onclick="window.location.href='{{ url_for("insert") }}'">insert</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                <i class="fa fa-suitcase"></i>
                <h3>Delete</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Delete</h3>
              <p>delete data</p>
              <button onclick="window.location.href='{{ url_for("delete") }}'">delete</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box ">
            <div class="service-icon red">
              <div class="front-content">
                <i class="fa fa-male" aria-hidden="true"></i>
                <h3>Modify</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Modify</h3>
              <p>modify data</p>
              <button onclick="window.location.href='{{ url_for("modify") }}'">modify</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <i class="fa fa-users"></i>
                <h3>Search</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Search</h3>
              <p>search data</p>
              <button onclick="window.location.href='{{ url_for("search") }}'">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>